<ng-container *ngIf="elements.length">
  <div class="tab-header-wrapper">
    <div class="tab-title" [ngClass]="{ selected: i === selectedIndex}" *ngFor="let element of elements; index as i"
      (click)="selectItem(i)">
      <ng-container *ngIf="header.template" [ngTemplateOutlet]="header.template"
        [ngTemplateOutletContext]="{ $implicit: element }"></ng-container>
      <span (click)="removeElement($event, i)" class="close-icon">&times;</span>
    </div>
  </div>
  <div class="tab-content">
    <ng-container *ngFor="let element of elements; index as i">
      <ng-container *ngIf="i === selectedIndex">
        <ng-container *ngIf="content.template" [ngTemplateOutlet]="content.template"
          [ngTemplateOutletContext]="{ $implicit: element }"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>